########################################
# Application Configuration
########################################
NODE_ENV="development" # Must be one of: development, staging, production, test
# Project name
APP_NAME="NestJS Boilerplate"
# The network port number on which the application will listen for incoming HTTP requests.
# Must be a valid port number (1-65535). Ports below 1024 typically require elevated privileges.
APP_PORT=3000
# The base URL prefix prepended to all API routes.
# Example: "/api" results in routes like /api/health, /api/users
APP_ROUTE_PREFIX="/api"
# This is important when the app is behind a reverse proxy (e.g., Nginx, Traefik, ALB).
# Options:
# - true/false: trust all proxies (unsafe if not properly configured) or none (default).
# - string: single IP, CIDR, or special values ('loopback', 'linklocal', 'uniquelocal').
# - comma-separated list: multiple IPs/CIDRs/special values.
# - number: trust the nth hop from the front-facing proxy server.
# Default: false
APP_TRUST_PROXY="loopback"
# Specifies which external domains are permitted to make requests to this API.
# Example: "http://localhost:3000,https://app.example.com" or "*" to allow all origins (not recommended for production).
APP_CORS_ORIGINS="http://localhost:3000"
# The minimum severity level of log messages to record.
# Messages below this level will be ignored.
# Levels in order of severity: trace, debug, info, warn, error, fatal
# Use 'trace' for maximum detail, 'info' for production, 'error' for minimal logging.
APP_LOG_LEVEL="trace"
# The default language to use as a fallback if a translation is not available in the requested language.
APP_FALLBACK_LANGUAGE="en"

########################################
# Database Configuration
########################################
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="nestjs-boilerplate"
DB_USER="postgres"
DB_PASSWORD="super-secret"
DB_ENABLE_SSL=false
# Set to 'true' in production with valid certificates, 'false' for self-signed certificates.
# Note: Only applies when DB_ENABLE_SSL is 'true'.
DB_SSL_REJECT_UNAUTHORIZED=true
DB_CA=
DB_KEY=
DB_CERT=
